.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid black;
}
.sidebar img {
  width: 10%;
  height: 10%;
}
.sidebar .dashboard img {
  width: 40%;
  height: 60%;
}
.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  background: #0891b2;
  font-weight: bold;
}


.sidebar > div > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.sidebar > div span {
  vertical-align: top;
}
